
<% if user_signed_in? %>
	<p>You are signed in as <%= current_user.name %>.  Congratulations.  You are a genius.</p>
<% else %>
	<p><%= link_to "Sign up", new_user_registration_path %> for Hikeabl!</p>
<% end %>
